header {
	background-color: black;
	position: fixed;
	font-color: white;
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
	font-family: arial;
	padding: 10px;
	padding-top: 0px;
}

body {
	margin-left: 0%;
	margin-top: 0px;
}
h1 {
	font-size: 50px;
	color: white;
}

img {
	width: 300px;
	height: 250px;
}

a {
	text-decoration: none;
	color: white;
	display: inline-block;
}


a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	display: inline-flex;
	padding-left: 0px;
	margin-top: 0px;
	float: left;
}

h2 {
	margin-top: 170px;
	color: black;
	text-align: center;
}

.years {
	text-align: center;

}

.quilotoa {
	margin-top: 70px;
	background-image: url("coverbigger.jpg");
	height: 720px;
	width: 1400px;
	background-repeat: none;
	color: black;
	image-rendering: center;
	margin-left: 100px;
	margin-right: 5px;
}

.nospace {
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 8px;
	color: black;
	width: 1500px;
	text-align: left;
	margin-left: 15px;
	
}
.info2 {
	color: black;
	margin-left: 15px;
	padding: 0px;
	width: 1500px;
	margin-top: 30px;
	text-align: left;
}

li {
	padding-right: 30px;

}


p {
	margin-top: 0px;
	clear: left;
	padding: 0px;
	margin-left: 100px;
	color: black;

}
h3 {
	float: left;
}

content {
font-family: arial;
color: white;
margin-left: 100px;


}

h5 {
	color: black;
	margin-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 35px;
}
.row1 {
	margin-top: 30px;
	float:left;
	margin-left: 300px;
	margin-bottom: 30px;
}

.row2 {
	margin-top: 30px;
	float:left;
	margin-left: 300px;
	margin-bottom: 30px;

}

.abouttop {
	clear: left;
}


